<a href="https://colab.research.google.com/github/DanishHaji/Python_OOP_Viva_Practice/blob/main/Pyhton_OOP_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Encapsulation

In [4]:
class Dog:
  def __init__(self,name):
    self.__name = name

  def get_name(self):   # Getter Name
    return self.__name

  def set_name(self, new_name):   # Setter Name
    self.__name = new_name

dog = Dog("Buddy")
print("Dog's name is:", dog.get_name())

dog.set_name = "Rocky"
print("Dog's new name is:", dog.get_name())

Dog's name is: Buddy
Dog's new name is: Buddy

In [13]:
class Person:
  def __init__(self,name,age):
    self.__name = name
    self.__age = age

  def get_name(self):
    return self.__name

  def set_name(self, new_name):
    self.__name = new_name

  def get_age(self):
    return self.__age

  def set_age(self,age):
    if age > 0:
      self.__age = age
    else:
      print("Invalid age")

In [16]:
person = Person("Danish", 30)
print("The Person name is:", person.get_name())
print("The age is:", person.get_age())

person.set_name("Danish Haji")
print("The Person new name is:", person.get_name())

person.set_age(32)
print("The new age is:", person.get_age())

person.set_age(-5)

The Person name is: Danish
The age is: 30
The Person new name is: Danish Haji
The new age is: 32
Invalid age

In [17]:
class BankAccount:
  def __init__(self,account_number,balance=0):
    self.__account_number = account_number
    self.__balance = balance

  def get_account_number(self):
    return self.__account_number

  def get_balance(self):
    return self.__balance

  def deposit(self,amount):
    if amount > 0:
      self.__balance += amount
    else:
      print("Invalid Deposite amount")

  def withdraw(self,amount):
    if amount > 0 and amount <= self.__balance:
      self.__balance -= amount
    else:
      print("Invalid Withdraw amount or insufficient balance")

In [24]:
account_holder = BankAccount("12345454", 50000)
print("The account number is:", account_holder.get_account_number())
print("The account balance is:", account_holder.get_balance())


account_holder.deposit(5000)
print("The new account balance is:", account_holder.get_balance())

account_holder.withdraw(5000)
print("The new account balance is:", account_holder.get_balance())

The account number is: 12345454
The account balance is: 50000
The new account balance is: 55000
The new account balance is: 50000

In [25]:
# Question 1

class Student:
  #Constructor
  def __init__(self,name,marks): # Attributes
    self.__name = name
    self.__marks = marks

  # Methods
  def get_name(self):
    return self.__name

  def set_name(self,new_name):
    self.__name = new_name

  def get_marks(self):
    return self.__marks

  def set_marks(self,marks):
    if 0 <= marks <= 100:
      self.__marks = marks
    else:
      print("Invalid marks")

In [36]:
student1 = Student("Ali", 85)
student2 = Student("Danish",90)

print(student1.get_name())
print(student1.get_marks())
student1.set_marks(50)
print(student1.get_marks())


print(student2.get_name())
print(student2.get_marks())
student2.set_marks(60)
print(student2.get_marks())

Ali
85
50
Danish
90
60

In [37]:
# Question 2

class Book:

  # Constructor
  def __init__(self,title,author,price):
    self.__title = title
    self.__author = author
    self.__price = price

  # Methods
  def get_title(self): # Getter
    return self.__title

  def set_title(self, new_title):  # Setter
    self.__title = new_title

  def get_author(self):  # Getter
    return self.__author

  def set_author(self,new_author):   # Setter
    self.__author = new_author

  def get_price(self):  # Getter
    return self.__price

  def set_price(self, price):   # Setter
    if price > 0:
      self.__price = price
    else:
      print("Invalid Price")

In [48]:
book1 = Book("Harry Potter", "JK Rowlling", 150)
print("Book Title:", book1.get_title())
print("Book Author:", book1.get_author())
print("Book Price:", book1.get_price())

book1.set_title("The Vell")
print("New Book Title:", book1.get_title())

book1.set_author("Danish Haji")
print("New Book Author:", book1.get_author())

book1.set_price(200)
print("New Book Price:", book1.get_price())

Book Title: Harry Potter
Book Author: JK Rowlling
Book Price: 150
New Book Title: The Vell
New Book Author: Danish Haji
New Book Price: 200

In [3]:
# Advance question 3

class Employee:
  # Constructor
  def __init__(self,name,position,salary): # Propertis
    self.__name = name                     # Private Attributes
    self.__position = position             # Private Attributes
    self.__salary = salary                 # Private Attributes

  # Methods
  def get_name(self):
    return self.__name

  def get_position(self):
    return self.__position

  def get_salary(self):
    return self.__salary

  def set_name(self,new_name):
    self.__name = new_name

  def set_position(self,new_position):
    self.__position = new_position

  def set_salary(self,new_salary):
    if new_salary >= 15000:
      self.__salary = new_salary
    else:
      print("Salary too low")

  def apply_bonus(self,percentage):
    if percentage > 0:
      bonus_amount = self.__salary * (percentage/100)
      self.__salary += bonus_amount
    else:
      print("Invalid Bonus Percentage")

In [9]:
employee = Employee("Danish","GM", 150000)
print(employee.get_name())
print(employee.get_position())
print(employee.get_salary())

employee.set_name("Danish Haji")
print(employee.get_name())

employee.set_position("CEO")
print(employee.get_position())

employee.set_salary(250000)
print(employee.get_salary())

employee.apply_bonus(20)
print(employee.get_salary())

Danish
GM
150000
Danish Haji
CEO
250000
300000.0